.wp-block-post-title{
  box-sizing:border-box;

}
.wp-block-post-title :where(a){
  display:inline-block;
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
  letter-spacing:inherit;
  line-height:inherit;
  text-decoration:inherit;
}


.wp-site-blocks {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}